{% extends 'base.html' %}
{% block content %}

<a href="/" class="btn btn-outline-info mb-3">⬅ Back to Home</a>

<h2>Activities</h2>

{% if session.get('admin') %}
<a href="/add_activity" class="btn btn-success mb-2">Add Activity</a>
{% endif %}

{% for a in activities %}
<div class="card-box">
    <h5>{{ a.title }}</h5>
    <p>{{ a.description }}</p>

    {% if session.get('admin') %}
    <a href="/delete_activity/{{ a.id }}" class="btn btn-danger btn-sm">Delete</a>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
