{% extends 'base.html' %}
{% block content %}

<h3>Add Member</h3>

<form method="POST" class="card-box">

    <input type="text" name="name" class="form-control mb-2" placeholder="Full Name">

    <input type="text" name="department" class="form-control mb-2" placeholder="Department">

    <input type="text" name="role" class="form-control mb-2" placeholder="Role">

    <input type="text" name="year" class="form-control mb-2" placeholder="Year">

    <button type="submit" class="btn btn-success w-100">
        Save Member
    </button>

</form>

{% endblock %}
